﻿@using Hackathon.FailBook.Web.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Flavors' rel='stylesheet' type='text/css'>
    <link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/buttons/buttons.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/960.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/FailAdd.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/dropbox.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/js.animate-background.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/jquery.filedrop.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/bootstrap/js/bootstrap.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Content/bootstrap/js/bootstrap-modal.js")" type="text/javascript"></script>*@
    
    
    <script src="@Url.Content("~/Scripts/failbook.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/failbook.failadd.js")" type="text/javascript"></script>
    @RenderSection("head")
    <script src="@Url.Content("~/Scripts/imageDroper.js")" type="text/javascript"></script>
</head>
<body>
 @*   <header>
        
    </header>*@
    <section id="main" class="container_12" >
        <div class="bg bokeh-10 container_12">&nbsp;</div>
        <div class="bg bokeh-9 container_12">&nbsp;</div>
         @Html.Partial("FailAddPartial")
        <div class="clear"></div>

        @RenderBody()
    </section>
    <footer>
        
        <div class="container_12">
            <div class="hack"><span>Хакатон 2012, Донецк</span> </div>
            <div class="topfails"><span>FailBook</span> </div>
        </div>
    </footer>
</body>
</html>
