﻿<div class="modal fade" id="FailAddModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Накосячил, делись!</h3>
  </div>
  <div class="modal-body">
      <input type="hidden" id="FailAddId" name="AddFailId" />
      <div class="control-group">
          <input type="text" placeholder="Фэйл..." id="FailAddTitle" name="FailAddTitle" class="fail-add-title" />
      </div>
      <textarea id="FailAddDescription" name="FailAddDescription" rows="5" cols="12" placeholder="Поподробнее..." class="fail-add-description"></textarea>
      <input type="hidden" value="" id="uploadImgId">
    
      <div id="dropbox">
          <span class="message">Перетащите сюда изображение для загрузки<br /></span>
      </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" id="BtnFailAdd">Сознаться</a>
    <a href="#" class="btn" data-dismiss="modal">Передумал</a>
  </div>
</div>

<div  class="container_12" style="min-height: 100px">
    @*<div id="logo" class="left"></div>*@
    <a href="/" id="logo">FailBook</a>
    <a data-toggle="modal" href="#FailAddModal" class="button medium orange rounded right btn-fail-add-modal"><i class="icon-plus"></i>Накосячил, делись!</a>
    <div class="clear"></div>
    
    <h2>Что, по твоему мнению, хуже?</h2>
    
 </div>
