﻿
@model List<Hackathon.Data.Fail>
 
    
        @{
            int similarFailsCount = Model.Count;
            int half = (int)Math.Ceiling(similarFailsCount / 2.0d);
        }

        <div class="left" style = "width: 300px; text-align: left;">
            @foreach (var fail in Model.Take(half))
            {
                bool includePadding = true;
                if (Model.Take(half).ToList().IndexOf(fail) == 0)
                {
                    includePadding = false;
                    <img src="@Url.Content("~/Content/images/gold_medal-red.png")" style="max-height:32px;vertical-align: middle;" />    
                }
                else if (Model.Take(half).ToList().IndexOf(fail) == 1)
                {
                    includePadding = false;
                         <img src="@Url.Content("~/Content/images/silver_medal-blue.png")" style="max-height:32px;vertical-align: middle;" />    
                }
                else if (Model.Take(half).ToList().IndexOf(fail) == 2)
                {
                    includePadding = false;
                     <img src="@Url.Content("~/Content/images/bronze_medal-green.png")" style="max-height:32px;vertical-align: middle;" />    
                }
                
                
                
                @Html.ActionLink(fail.Title, "Index", "FailDetail", new { id = fail.Id.ToString() }, includePadding ? new { @style="padding-left:35px" } : null)
                <br />
            }



            <br />
            <br />
        </div>

        <div class="left" style = "width: 300px; text-align: right;">
            @foreach (var fail in Model.Skip(half))
            {

                
                @Html.ActionLink(fail.Title, "Index", "FailDetail", new { id = fail.Id.ToString() }, null)
                <br />
            }

            <br />
            <br />
        </div>

     
