﻿<div class="compared">
    <input type="hidden" id="id" />
    <a href="" id="title"></a>
    <div id="description"></div>
    <div class="clear"></div>
    <div class="image-wrap-outer glossy">
        <span class="image-wrap" style="width: auto; height: auto;">
            <img id="picture" src=""/>
        </span>
    </div>

</div>
