﻿@model List<Hackathon.Data.Fail>

@{
    ViewBag.Title = "Накосячили ?";
}
@section head {
    <link href="@Url.Content("~/Content/index.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/failbook.index.js")" type="text/javascript"></script>
}

<div id="comparer">
    <div id="firstFail" class="" style="position: relative; opacity: 0">
        @Html.Partial("ComparingFailPartial")
        <div class="vote"></div>

    </div>
    <div id="vs">VS</div>
    <div id="secondFail" class="right" style="position: relative; opacity: 0;"">
        @Html.Partial("ComparingFailPartial")
        <div class="vote"></div>
    </div>
</div>


<br />
<!--<div id="top-fails"></div>-->

@Html.Partial("TopFailsPartial", Model)
