﻿@model Hackathon.FailBook.Web.Models.FailDetailModel
 
@section head {           
    <link href="@Url.Content("~/Content/FailDetail.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/failbook.detail.js")" type="text/javascript"></script>
    <style>
        #main .container_12 h2
        {
            display: none;
            }
    </style>
}

@{
    ViewBag.Title = "Бывает и такое - " + Model.FailInfo.Title;
}

<div class="grid_11 fail-box" style="padding-top: 20px; z-index: 1; ">
    <div class="fail-description-container">
        <span id="title">@Model.FailInfo.Title</span> 
        <br />
        <span id="description">@Model.FailInfo.Description</span>
    </div>
    <div class="fail-another-info" >
        <div class="grid_7 left fail-picture-container">

            @if (Model.FailInfo.ImageId.HasValue)
            {
                @Html.HiddenFor(m => m.FailInfo.ImageId)
                <div class="image-wrap-outer glossy">
                    <span class="image-wrap" style="width: auto; height: auto;">
                        <img id="picture" src="@Model.ImageUrl" />
                    </span>
                    
                </div>
            }
            
        </div>
        <div class="grid_3 left fail-rate-container" style="">
            <div class="rate-title">Рейтинг:</div>
            <div class="rate">@Model.FailInfo.Rate.ToString()</div>
            <div class="rate-title">Количество голосов:</div>
            <div class="rate">@Model.FailInfo.Vote.ToString()</div>
        </div>
        <div class="clear"></div>
    </div>
    
</div>

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="float: left;display: block;margin-left: 55px;width: 413px;">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f49a79c5b5a7ed4"></script>
<!-- AddThis Button END -->
<div class="clear"></div>
<div class="disqus-comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'failbookcybind';
// required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
@Html.Partial("TopFailsPartial", Model.TopFails)








