﻿body {
}


.fail-box
{
    margin-left: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    /*margin: 10px;*/
    
    -webkit-box-shadow: 0px 0px 10px 3px rgba(1, 1, 1, .1);
    -moz-box-shadow: 0px 0px 10px 3px rgba(1, 1, 1, .1);
    box-shadow: 0px 0px 10px 3px rgba(1, 1, 1, .1);
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    
    background: rgb(248,255,232);
    background: -moz-linear-gradient(top,  rgba(248,255,232,1) 0%, rgba(226,226,226,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,255,232,1)), color-stop(100%,rgba(226,226,226,1)));
    background: -webkit-linear-gradient(top,  rgba(248,255,232,1) 0%,rgba(226,226,226,1) 100%);
    background: -o-linear-gradient(top,  rgba(248,255,232,1) 0%,rgba(226,226,226,1) 100%);
    background: -ms-linear-gradient(top,  rgba(248,255,232,1) 0%,rgba(226,226,226,1) 100%);
    background: linear-gradient(top,  rgba(248,255,232,1) 0%,rgba(226,226,226,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#e2e2e2',GradientType=0 );
}
.fail-description-container
{
   padding-left: 30px;
   
    /*padding: 10px;
    margin: 10px;*/
}

.fail-another-info
{
    padding-top: 10px
}

.fail-rate-container
{
    padding-top: 10px;
    text-align: center;
    padding-left: 30px;
}

.fail-picture-container
{
    padding-left: 17px;
    padding-top: 10px;
    padding-bottom: 20px;
    min-height: 200px;
}

.fail-box #title
{
    color: rgb(0, 122, 163);
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 5px;
}
.fail-box #description
{
    font-size: 12px;
    font-weight: bold;
    clear: both;
}
.fail-box #picture
{
    /*border: 3px solid rgb(122,122,122);*/
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    
    display: block;
    min-height: 200px; 
    min-width: 200px;
    max-width: 500px;
}

.rate-title
{
    font-size: 12px;
    font-weight: bold;
}

.rate
{
    color: rgb(0, 122, 163);
    padding-top: 15px; 
    padding-bottom: 15px;
    font-size: 40px;
}

.disqus-comments {
    margin-left: 55px;
    margin-top: 20px;
}