﻿#comparer {
    padding: 0 100px 0 100px;
}
 
#comparer #vs
{
    float: left;
    font-size: 30px;
    color: #39B449;
	position: relative;
	top: 140px;
	left: 16px;
	z-index: 10;
    font-weight: bold;
	/*text-shadow: 0px 1px 1px #111111;
    filter: dropshadow(color=#111111, offx=0, offy=1);*/
}

#firstFail .vote
{
    position: absolute;
    top: 85px;
    left: 285px;
    font-size: 30px;
}
#secondFail .vote
{
    position: absolute;
    top: 140px;
    left: -10px;
    font-size: 30px;
}
.vote
{
    text-shadow:0px -1px 1px rgb(100,100,100);
    
    line-height: 1.4;
    
    min-width: 35px;
    
    background-color: rgb(150, 150, 150);
    background: -moz-linear-gradient(100% 59% 90deg, rgb(150, 150, 150), rgb(230, 230, 230));
    background: -webkit-gradient(linear, 0% 0%, 0% 78%, from(rgb(230, 230, 230)), to(rgb(150, 150, 150)));

    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;

    box-shadow: 0px 3px 3px black;
    -moz-box-shadow: 0px 3px 3px black;
    -webkit-box-shadow: 0px 3px 3px black;

    border: 2px solid #fff;
    color:#fff;
    font-family:helvetica, sans-serif;
    padding: 10px 15px;
    text-decoration:none;
    text-align:center;
}    
.vote.win
{
    background-color: rgb(255, 215, 0);
    background: -moz-linear-gradient(100% 59% 90deg, #bc0000, #feb9be);
    background: -webkit-gradient(linear, 0% 0%, 0% 78%, from(#feb9be), to(#bc0000));
}

.compared
{
	float: left;
    
    width: 295px;
    height: 245px;
    
    padding: 15px;
    margin: 10px;
    
    cursor: pointer;
    
    -webkit-box-shadow: 0px 0px 10px 3px rgba(1, 1, 1, .1);
    -moz-box-shadow: 0px 0px 10px 3px rgba(1, 1, 1, .1);
    box-shadow: 0px 0px 10px 3px rgba(1, 1, 1, .1);
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(214,214,214,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(214,214,214,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(214,214,214,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(214,214,214,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(214,214,214,1) 100%);
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(214,214,214,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d6d6',GradientType=0 );
}
.compared:hover
{
    -webkit-box-shadow: 0px 0px 10px 5px rgba(202, 202, 21, .5);
    -moz-box-shadow: 0px 0px 10px 5px rgba(202, 202, 21, .5);
    box-shadow: 0px 0px 10px 5px rgba(202, 202, 21, .5);
}

.compared #title
{
    color: rgb(0, 122, 163);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 5px;
    display: block;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

.compared #description
{
    font-size: 12px;
    font-weight: bold;
    clear: both;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap; 
}
.compared #picture
{
    /*border: 3px solid rgb(255,255,255);*/
    display: block;
    max-height: 190px;
    max-width: 250px;
}