﻿.clear {
    clear: both;    
}
body {
    
}

header 
{
    /*background-color: rgb(200, 200, 200);*/
    
    width: 100%;
    height: 70px;
    padding: 15px;
    z-index: 5;
}

#main #logo 
{
    /*font-family: 'Open Sans Condensed', sans-serif;*/
    /*font-family: 'Annie Use Your Telescope', cursive;*/
    font-family: 'Flavors', cursive;
    font-size: 46px;
    float: left;
    margin: 20px 0 0 50px;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 0px 4px black;
    z-index: 1000;
    position: relative;
}

#main #logo:hover
{
    text-decoration: none; 
}

#main  #txtNewFail 
{
    margin: 15px;
    font-size: 28px;
    height: 35px;
}
#main  #btnNewFail 
{
    margin: 15px;
    font-size: 28px;
    height: 35px;
}

#main 
{
    /*padding: 30px;*/
    /*padding-top: 20px;*/
    min-height: 300px;
    overflow: hidden;
    background: #efefef url(/Content/images/bg_header.png) no-repeat;
}

#main h2 {
    color: #fff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    text-shadow: 0px -1px 1px #353535;
    /*text-shadow: 2px 0px 4px #000000;*/
    /*filter: dropshadow(color=#000000, offx=4, offy=0);*/
    text-transform: uppercase;
}

footer
{
    
    font-size: 22px;
    color: #bebebe;
    text-shadow: 0px 2px 3px #171717;
    
    /*padding: 15px;*/
   /* padding-top: 100px;
    min-height: 300px;
    overflow: hidden;
    */
    
}

footer div
{
    vertical-align: middle;
}

footer .hack {
    float: left;
    margin-left: 50px;
}

footer .topfails {
    float: right;
    margin-right: 50px;
    font-family: 'Flavors', cursive;
    padding-top: 20px;
    font-size: 22px;
}

footer .hack span{ 
    padding: 10px; 
    float: left; 
    padding-top: 20px;
    font-size: 12px;
}

footer div.container_12 {
    background: transparent url(/Content/images/bg_footer.jpg) no-repeat;
    height: 50px;
    /*color: #fff;*/
}

.modal {
    display: none;
    width: 500px;
}

#top-fails 
{
    margin-top: 30px;
    margin-left: 0px;
    display: block;
    float: left;
    min-height: 250px;
    min-width: 960px;
    background: transparent url(/Content/images/bg_middle.png) repeat-x;
    background-position-x: 45px;
}

/* Image effect */
.image-wrap-outer {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.image-wrap {
    display: inline-block;
    max-width: 100%;
    position: relative;
    vertical-align: bottom;
}

.image-wrap:after {
    -moz-border-radius: 7px;
    -moz-box-shadow: inset 0 0 1px rgba(255, 255, 255, .4), inset 0 1px 0 rgba(255, 255, 255, .4), 0 1px 2px rgba(0, 0, 0, .3);
    -webkit-border-radius: 7px;
    -wekbit-box-shadow: inset 0 0 1px rgba(255, 255, 255, .4), inset 0 1px 0 rgba(255, 255, 255, .4), 0 1px 2px rgba(0, 0, 0, .3);
    border: solid 1px #949494;
    border-radius: 7px;
    box-shadow: inset 0 0 1px rgba(255, 255, 255, .4), inset 0 1px 0 rgba(255, 255, 255, .4), 0 1px 2px rgba(0, 0, 0, .3);

    content: ' ';
    height: 100%;
    left: -1px;

    position: absolute;
    top: -1px;
    width: 100%;
}

.image-wrap img {
    -moz-border-radius: 6px;

    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
    -webkit-border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .4);

    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
    vertical-align: bottom;
}

/* glossy */
.glossy .image-wrap:before {
	position: absolute;
	content: ' ';
	width: 100%;
	height: 50%;
	top: 0;
	left: 0;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	background: -moz-linear-gradient(top, rgba(255,255,255,0.6) 0%, rgba(255,255,255,.15) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.6)), color-stop(100%,rgba(255,255,255,.15)));
	background: linear-gradient(top, rgba(255,255,255,0.6) 0%,rgba(255,255,255,.15) 100%);
}
 
.control-group {
    padding: 0;
    margin: 0;
}

.top-title
{
    margin-top: 25px;
    color: #39B449;
    font-size: 20px;
    font-weight: bold;
    display: block;
}

.top-container
{
    width: 600px;
    margin: 0 auto;
    padding-top: 20px;
   
}

.bg 
{
    height: 100%;
    position:absolute;
    background-repeat: no-repeat;
}
.bokeh-10 
{
    background-position: 240px -210px;
    background: url(/Content/images/bokeh-sm-1.png);
    background-repeat: no-repeat;
}
.bokeh-9
{
    background-position: 584px 316px;
    background: url(/Content/images/bokeh-sm-2.png);
    background-repeat: no-repeat;
}

.bloop{
 	-webkit-transform-origin: 50% 50% 0%; 
	-webkit-animation-name: bloop;
	-webkit-animation-duration: .4s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: alternate;
	-webkit-transition-timing-function: ease-Out;
}
@-webkit-keyframes bloop {
    0% { -webkit-transform: scale(0) rotateX(0deg); }
    50% { -webkit-transform: scale(1.2) rotateX(10deg); }
    100% { -webkit-transform: scale(1) rotateX(0deg); }
}
